*

!.github/
!.github/**
!assets/
!assets/**
!.editorconfig
!.envrc
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!LICENSE
!README.md

!docs/
!docs/**
!examples/
!examples/**
!include/
!include/**
!scripts/
!scripts/**
!tests/
!tests/**

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.yaml
!*.yml
!*.sh
!*.c
!*.h
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cpp
!*.hpp
!*.cu
!*.cuh
