*

!.github/
!.github/**
!assets/
!assets/**
!.editorconfig
!.envrc
!.gitattributes
!.gitignore
!.gitkeep
!.gitmodules
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!Kconfig
!LICENSE
!README.md

!.west/
!.west/**
!app/
!app/**
!boards/
!boards/**
!doc/
!doc/**
!drivers/
!drivers/**
!dts/
!dts/**
!include/
!include/**
!lib/
!lib/**
!scripts/
!scripts/**
!tests/
!tests/**
!zephyr/
!zephyr/**

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.yaml
!*.yml
!*.sh
!*.c
!*.h
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cpp
!*.hpp
!*.cu
!*.cuh
